.title{
    display: flex;
    justify-content: center;
}
.search-container{
    padding-top: 10px;
}
.overall{
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
.search-input{
    height: 45px;
    width: 500px;
    font-size: large;
    text-align: left;
    background-color: rgb(175, 175, 175);
    padding: 10px;
    border:rgb(0, 0, 0);
    box-sizing: border-box;
}
.search-container-button{
    background-color:#B6410F;
    border-color:rgb(0, 0, 0);
    font-size:1rem;
    font-weight: bold;
    padding: 14px 25px;
    border:none;
    border-radius: 0px;
    cursor:pointer;
    height:auto;
    transition: background-color 0.5s ease, color 0.5s ease; 
    color:white;
}
.search-container-button:hover{
    background-color:#e66832;
}